.background {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.form {
    background-color: #fff;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.button {
    padding: 15px 30px;
    border: 0;
    background-color: blueviolet;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.input {
    padding: 15px 30px;
}

.card {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.tile {
    text-align: center;
    color: black;
}